@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1>Azure DevOps CICD Pipeline</h1>
    <h2 class="display-4">Welcome: Sardar Mudassar Ali Khan in DevOps Engineering</h2>
    <h3>Weldone SMAK</h3>
    <h4>Follow me on C# Corner <a href="https://www.c-sharpcorner.com/members/mudassar-ali4" class="btn btn-danger" style="color:white">Sardar Mudassar Ali Khan C# Corner Profile</a></h4>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core" target="_blank">building Web apps with ASP.NET Core</a>.</p>
</div>
